<!-- Tabs for Services -->
<div id="service-tabs" class="hidden h-full mx-10">
    {% if not services_data %}
        <div id="no-data-message" class="text-center py-6 h-full w-full flex items-center justify-center">
            <i class="fas fa-exclamation-circle text-gray-500 text-3xl mr-2"></i>
            <p class="text-gray-500 font-semibold text-2xl">No Service Inputted</p>
        </div>
    {% endif %}
    <button id="back-to-service" 
        class="absolute top-[12px] right-2 px-4 py-2 bg-green-600 text-white font-semibold rounded-lg hover:bg-green-700 z-20">
        <i class="fas fa-arrow-left"></i> Back to Service
    </button>
    <ul class="flex overflow-x-auto whitespace-nowrap w-full max-w-full">
        {% for service in services_data %}
            <li>
                <button type="button" class="service-tab px-4 py-2 text-green-600"
                        data-service-index="{{ forloop.counter0 }}">
                    <i class="fas fa-tags"></i> <span class="uppercase">{{ service.name }}</span>
                </button>
            </li>
        {% endfor %}
    </ul>

    <!-- Container for Pricing Forms -->
    <div id="pricing-form-container" class="mt-6">
        {% for service in services_data %}
            <form action="" method="POST" enctype="multipart/form-data" class="service-pricing-form hidden" id="pricing-form-{{ forloop.counter0 }}">
                <input type="hidden" name="service_index" value="{{ forloop.counter0 }}">
                <div>
                    <label for="customization_option-{{ forloop.counter0 }}" class="block text-sm font-semibold">
                        <i class="fas fa-sliders-h text-green-600"></i> Customization Option: <span class="text-red-500">*</span>
                    </label>
                    <select id="customization_option-{{ forloop.counter0 }}" name="customization_option" 
                            class="w-full mt-2 p-3 border rounded-lg focus:ring-green-500 focus:border-green-500 capitalize" required>
                            <option value="" disabled selected hidden>List of Customization Options....</option>
                        {% for customization_option in service.customization_options %}
                            <option value="{{ customization_option.name }}" class="capitalize">{{ customization_option.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="description-{{ forloop.counter0 }}" class="mb-2 block text-sm font-semibold pt-2">
                        Code/Description: <span class="text-red-500">*</span>
                    </label>
                    <div class="input relative">
                        <div class="absolute top-0 left-0 h-full flex items-center justify-center w-12">
                            <i class="fas fa-pencil-alt text-lg text-green-600 transition-all duration-600 ease-in-out"></i> 
                        </div>
                        <input type="text" id="description-{{ forloop.counter0 }}" name="description" class="w-full pl-12 py-3 pr-3 border rounded-lg focus:ring-green-500 focus:border-green-500"
                            placeholder="Enter a name or description for this price information.." required>
                    </div>
                    
                </div>
                <div>
                    <label for="price-{{ forloop.counter0 }}" class="mb-2 block text-sm font-semibold pt-2">
                        Price/Rates: <span class="text-red-500">*</span>
                    </label>
                    <div class="input relative">
                        <div class="absolute top-0 left-0 h-full flex items-center justify-center w-12">
                            <p class="text-lg text-green-600 transition-all duration-600 ease-in-out font-bold">&#8369;</p> 
                        </div>
                        <input type="number" step="1" id="price-{{ forloop.counter0 }}" min="1" name="price" class="w-full pl-12 py-3 pr-3 border rounded-lg focus:ring-green-500 focus:border-green-500"
                            placeholder="0.00" required>
                    </div>
                    
                </div>
                <button type="submit" name="add_pricing_option"
                        class="px-6 py-2 bg-green-600 text-white font-semibold rounded-lg hover:bg-green-700 my-4">
                    <i class="fas fa-plus-circle"></i> Add Pricing Option
                </button>
            </form>
        {% endfor %}
    </div>
</div>


<script>
    $(document).ready(function() {
        // Show the Service Tabs after confirmation
        $('#service-tabs').removeClass('hidden');

        // Check if any tab is already active
        if ($('.service-tab.active-tab').length === 0) {
            // If no tab is active, make the first tab active
            $('.service-tab').first().addClass('border-green-600 border-b-2 active-tab');
            $('#pricing-form-0').removeClass('hidden'); // Show the first service's pricing form
        }

        // Tab click handling
        $('#service-tabs').on('click', '.service-tab', function() {
            var serviceIndex = $(this).data('service-index');
            // Hide all pricing forms
            $('.service-pricing-form').addClass('hidden');
            // Show the pricing form for the clicked tab
            $('#pricing-form-' + serviceIndex).removeClass('hidden');
            // Toggle active state for tabs using Tailwind classes
            $('.service-tab').removeClass('border-green-600 border-b-2');
            $(this).addClass('border-green-600 border-b-2');
        });

        function getCSRFToken() {
            return document.querySelector('[name=csrfmiddlewaretoken]').value;
        }

        function afterMessage(textmessage, color){
             // Append a success message
            const messagesDiv = $('#messages');
            const alert = $('<div>')
                .addClass('alert absolute bottom-[2.5rem] right-[0.5rem] z-50 mx-10 px-4 py-2 text-green-800 bg-green-200 border border-green-300 rounded shadow-lg')
                .text(textmessage);
            const existingAlert = messagesDiv.find('.alert');

                if (existingAlert.length > 0) {
                    existingAlert.fadeOut(100, function () {
                        $(this).remove();
                        messagesDiv.append(alert);
                    });
                } else {
                    // If no alert exists, directly append the new one
                    messagesDiv.append(alert);
                }
             setTimeout(() => alert.fadeOut(), 5000);
        }

        // AJAX Form Submission Handling
        $('form').off('submit').on('submit', function (event) {
            event.preventDefault();

            // Create the form data
            var form = $(this);
            var formData = form.serialize();  // Serialize the form data

            // Handle button-specific data (e.g., add_pricing_option)
            var buttonName = event.originalEvent.submitter.name;
            console.log("Button Name Pressed: " + buttonName);
            formData += '&' + buttonName + '=1';  // Append the submitter button name to the form data
            
            $.ajax({
                type: 'POST',
                url: '',
                headers: { 'X-CSRFToken': getCSRFToken() },
                data: formData,
                success: function (response) {
                    if (response.status === 'success') {
                        console.log("Sucess ajax");
                        if (response.add_pricing_option) {
                            console.log("Passed in pricing btn!!");
                            // Update the pricing options displayed for the service
                            $('#service-tabs').replaceWith(response.service_tabs_html);
                            $('#service-tabs').removeClass('hidden');

                            // Activate the correct tab using the provided `active_tab_index`
                            const activeTabIndex = response.active_tab_index;
                            $('.service-tab').removeClass('border-green-600 border-b-2 active-tab');
                            $(`.service-tab[data-service-index="${activeTabIndex}"]`).addClass('border-green-600 border-b-2 active-tab');

                            // Show the correct pricing form
                            $('.service-pricing-form').addClass('hidden');
                            $(`#pricing-form-${activeTabIndex}`).removeClass('hidden');

                            message = 'Pricing option added successfully.';
                            afterMessage(message, 'green');

                        }
                    } else if (response.status === 'error') {
                        console.log("Erorr ajax operation");
                        $('#service-input-section').replaceWith(response.service_form_html);
                        message = 'Select or input valid data!!';
                        afterMessage(message, 'red');
                    }
                },
                error: function () {
                    alert('Error processing the request.');
                }
            });
        });

        $('#back-to-service').on('click', function () {
            console.log("Clicked");
            $.ajax({
                type: 'POST',
                url: '',  // Your server endpoint
                headers: { 'X-CSRFToken': getCSRFToken() },
                data: { revert_to_service: true },
                success: function (response) {
                    if (response.status === 'success') {
                        console.log("Success Revert!");
                        // Replace the service form and hide service-tabs
                        $('#service-input-section').replaceWith(response.service_form_html);
                        $('#service-tabs').addClass('hidden');
                    }
                },
                error: function () {
                    alert('Error processing the request.');
                }
            });
        });
    });
</script>
