{% extends 'extends/main_interface.html' %}
{% load static %}

{% block content %}
  <div class="p-6 bg-background rounded-lg shadow-md">
    <div class="flex justify-between w-full pl-2 pb-1 mb-3 border-b">
      <h1 class="text-2xl font-semibold">Generate Estimates</h1>
      <div class="flex gap-4">
        <span class="font-bold italic text-lg text-black">Paper Print</span>
        <a href="{% url 'estimates' %}">
          <img src="{% static 'icons/swap.png'%}" class="w-6 h-6"/> 
        </a>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
      <div>
        <label class="block text-sm font-medium text-muted-foreground">Order Name</label>
        <input type="text" placeholder="Stock Name" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-full" />
      </div>
      <div>
        <label class="block text-sm font-medium text-muted-foreground">Printer</label>
        <input type="text" placeholder="Select here" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-full" />
      </div>
      <div>
        <label class="block text-sm font-medium text-muted-foreground">Print Type</label>
        <select class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-full">
          <option>Roll To Roll</option>
          <option>Sheet</option>
          <option>Other</option>
        </select>
      </div>
      <div>
        <label class="block text-sm font-medium text-muted-foreground">Front</label>
        <input type="number" value="1" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-full" />
      </div>
      <div>
        <label class="block text-sm font-medium text-muted-foreground">Back</label>
        <input type="number" value="1" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-full" />
      </div>
    </div>
    <h3 class="text-md font-semibold mb-2">Finished Size</h3>
    <div class="mb-4">
      <label class="block text-sm font-medium text-muted-foreground">Description</label>
      <div class="flex flex-col space-y-2">
        <div class="flex items-center">
          <input type="text" placeholder="Description of Print" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-1/2" />
          <input type="text" placeholder="Width" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-1/4 ml-2" />
          <input type="text" placeholder="Height" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-1/4 ml-2" />
          <input type="number" placeholder="Qty" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-1/4 ml-2" />
        </div>
        <div class="flex items-center">
          <input type="text" placeholder="Description of Print" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-1/2" />
          <input type="text" placeholder="Width" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-1/4 ml-2" />
          <input type="text" placeholder="Height" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-1/4 ml-2" />
          <input type="number" placeholder="Qty" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-1/4 ml-2" />
        </div>
        <div class="flex items-center">
          <input type="text" placeholder="Description of Print" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-1/2" />
          <input type="text" placeholder="Width" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-1/4 ml-2" />
          <input type="text" placeholder="Height" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-1/4 ml-2" />
          <input type="number" placeholder="Qty" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-1/4 ml-2" />
        </div>
      </div>
      <button class="mt-2 bg-secondary text-secondary-foreground hover:bg-secondary/80 p-2 rounded-md">+ Add Size</button>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
      <div>
        <h3 class="text-md font-semibold mb-2">Margins</h3>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label class="block text-sm font-medium text-muted-foreground">Top Left</label>
            <input type="text" value="0.125" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-full" />
          </div>
          <div>
            <label class="block text-sm font-medium text-muted-foreground">Top Right</label>
            <input type="text" value="0.125" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-full" />
          </div>
          <div>
            <label class="block text-sm font-medium text-muted-foreground">Bottom Left</label>
            <input type="text" value="0.125" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-full" />
          </div>
          <div>
            <label class="block text-sm font-medium text-muted-foreground">Bottom Right</label>
            <input type="text" value="0.125" class="focus:ring-green-500 mt-1 p-2 border border-border rounded-md w-full" />
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <div class="bg-green-200 border border-border rounded-md w-full h-48 pt-2">
          <p class="text-center border-b  border-b-black pb-2">Preview Area</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}